@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f6f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .warranty-tag {
    /* @apply inline-flex items-center text-xs font-medium text-gray-700; */
    position: absolute;
    margin-left: auto;
    right: 0;
    padding: 2px 4px;
    padding-left: 20px;
    display: flex;
    background-color: rgba(255, 202, 40, 0.27);
    height: 21px;
    color: #130f26;
    align-items: center;
    font-family: "Roboto";
  }

  .warranty-tag::before {
    content: "";
    background-image: url("https://cdn.tyreplex.net/themes/moonlight/images/warranty-tag-1x.png?v=1500&tr=q-60"); /* Adjust the path as needed */
    width: 13px;
    height: 16px;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 3px;
  }

  .down-arrow::after {
    content: "";
    box-sizing: border-box;
    height: 8px;
    width: 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.87);
    border-width: 0px 1px 1px 0px;
    transform: translate(-50%, -30%) rotate(45deg);
    transition: border-width 150ms ease-in-out;
    margin-left: 10px;
    display: inline-block;
  }
}
